.header {
    text-align: center;
}

.header img{
    width: 200px;
}

.header nav{

    background-color: red;
    padding: 10px;
    height: 45px;
    
    font-weight: bold;
    text-decoration: none;
    
}

.header nav a {

    color: black;
    padding: 10px; 
    text-decoration: none;
    margin-right: 10px;
    
}

.header nav a:hover{

    background-color: yellowgreen;
}
img{
    height: 150px;
    width: 10px;
    
}